/*自定义css*/
.vue-toast-manager_container.\--top {
  top: 45px;
}
.navbar-box {
  width: 100%;
  height: 61px;
}
.navbar-skin {
  background:#f0f0f0;
}
.navbar-menu {
  height: 100%;
}
@media (max-width: 767px) {
  .day-mode .navbar-menu a.navbar-item {
    height: 100%;
    width: 40px;
    margin: 0px 0px 0px 0px;
  }
  .day-mode .navbar-skin {
    background-color: #f0f0f0;
    -moz-box-shadow: 0 1px 4px #eee;
    -webkit-box-shadow: 0 1px 4px #eee;
    box-shadow: 0 1px 4px #eee;
  }
  .day-mode .navbar-skin .dropdown-menu {
    background-color: white;
  }
  .day-mode .navbar-skin a.shrink-avatar:hover img {
    border-color: #f49484;
  }
  .day-mode .navbar-skin a.shrink-avatar:after {
    border-top: 4px solid black;
  }
  .day-mode .navbar-item-expand{
    display: none;
  }
}
@media (max-width: 767px) {
  .night-mode .navbar-menu a.navbar-item {
    height: 100%;
    width: 40px;
    margin: 0px 0px 0px 0px;
  }
  .night-mode .navbar-menu a.navtitle{
    left: 10px;
    background: #3f3f3f;
    color: gray;
  }
  .night-mode .navbar-menu a.navbar-item{
    background: #3f3f3f;
  }
  .night-mode .navbar-menu a.navbar-item:hover{
    background: black;
    color:white;
  }
  .night-mode .navbar-item-expand{
    display: none;
  }
}
.navbar-menu a.navtitle{
  margin-top: 10px;
  margin-left: 10%;
  display: block;
  text-align: center;
  padding: 10px;
  float: left;
  width: 140px;
  height: 50%;
  background: #f0f0f0;
  font-size: 24px;
}

.navbar-menu a.navbar-item {
  float: right;
  width: 10%;
  height: 50%;
  background-color: #f0f0f0;
  margin: 20px 0px 10px 0px;
}
.navbar-menu a.navbar-item-expand {
  float: right;
  width: 5%;
  background-color: #f0f0f0;
  margin: 30px 0px 10px 0px;
  padding-bottom: 0;
}
.navbar-menu .active {
  background-color: #f0f0f0;
  color: black;
  text-shadow: 0 1px 0 #f0f0f0;
}

.navbar-menu a.navbar-item:hover {
  background-color: #f0f0f0;
  color: #e78170;
}
.navbar-expanded {
  margin-left: 25%;
}
.sidebar-box{
  top: 61px;
  left: 0;
  height: 100%
}
.main-box {
  margin-top: 61px;
  padding-left: 0px;
  text-align: center;
}
.main-box .row{
  text-align: center;
  min-height: 600px;
}
.main-content{
  width:70%;
  margin-left:15%;
  margin-right:15%;
}
footer{
  padding: 10px 0 10px 0;
  text-align: center;
}
.footer-container{
  padding-left:0;
}
