<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../../../dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.qingqfeng.archer.dao.comment.ICommentDao" >
    <resultMap id="BaseResultMap" type="cn.com.qingqfeng.archer.pojo.comment.CommentDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="article_id" property="articleId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <collection property="replys" ofType="cn.com.qingqfeng.archer.pojo.reply.ReplyDO">
            <id column="re_id" property="id" jdbcType="INTEGER"/>
	        <result column="re_content" property="content" jdbcType="VARCHAR" />
	        <result column="comment_id" property="commentId" jdbcType="VARCHAR" />
	        <result column="re_user_id" property="userId" jdbcType="VARCHAR" />
	        <result column="re_nickname" property="nickname" jdbcType="VARCHAR" />
	        <result column="re_target_id" property="targetId" jdbcType="VARCHAR" />
	        <result column="re_target_name" property="targetName" jdbcType="VARCHAR" />
	        <result column="re_create_time" property="createTime" jdbcType="TIMESTAMP" />
        </collection>
    </resultMap>
<!-- 根据用户id -->
    <select id="queryCommentByArticleId" parameterType="java.lang.String" resultMap="BaseResultMap"  >
       SELECT 
            a.id,a.uid, a.content, a.article_id, a.user_id, b.nickname, a.create_time, 
            c.id as re_id, c.content as re_content, c.user_id as re_user_id, d.nickname as re_nickname, c.create_time as re_create_time,
            c.target_id as re_target_id, e.nickname as re_target_name
       FROM 
            qfeng_comment a 
       LEFT JOIN 
            qfeng_user b ON a.user_id =b.id
       LEFT JOIN
            qfeng_reply c ON a.uid = c.comment_id
       LEFT JOIN
            qfeng_user d ON  c.user_id = d.id
       LEFT JOIN
            qfeng_user e ON c.target_id = e.id
       WHERE a.is_delete =0 and a.article_id = #{id}
       ORDER BY
            a.id asc, c.id asc
    </select>
    
<!-- 添加 评论    -->
    <insert id="addCommment" parameterType="cn.com.qingqfeng.archer.pojo.comment.CommentDO" >
       INSERT INTO 
            qfeng_comment
            (uid, content, user_id, article_id, create_time)
        VALUES
            (#{uid}, #{content}, #{userId}, #{articleId}, #{createTime})
    </insert>
<!-- 添加 回复   -->
    <insert id="addReply" parameterType="cn.com.qingqfeng.archer.pojo.reply.ReplyDO" >
       INSERT INTO 
            qfeng_comment
            (content, user_id, comment_id, create_time, target_id)
        VALUES
            (#{content}, #{userId}, #{commentId}, #{createTime},#{tagetId})
    </insert>
<!-- 删除评论    -->
    <delete id="deleteCommment" parameterType="java.lang.String" >
       UPDATE 
             qfeng_comment
       SET
             is_delete=1 
       WHERE 
             id =#{id}
    </delete>
<!--  删除所有回复 -->
    <delete id="deleteReplyByCommentId" parameterType="java.lang.String" >
       UPDATE 
             qfeng_reply
       SET
             is_delete=1 
       WHERE 
             comment_id =#{id}
    </delete>
    
</mapper>
